@import url(/Users/tom.schisler/Documents/GitHub/resume/node_modules/normalize.css/normalize.css);
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}

html {
  margin: 0;
  padding: 0;
  background: #fff;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-width: 320px;
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
  padding: 10px 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 1.4;
  color: #282828;
}

@media (min-width: 800px) {
  body {
    display: flex;
    flex-flow: row wrap;
  }
}

@media print {
  body {
    font-size: 78%;
  }
}

header {
  width: 100%;
  margin: 0 0 5px 0;
  padding: 10px 0;
  box-shadow: inset 0 -1px 0 #D3D3D3;
}

@media (min-width: 800px) {
  header {
    flex: 1 0 100%;
  }
}

@media print {
  header {
    box-shadow: none;
    width: 100%;
    clear: both;
  }
}

header figure {
  margin: 0 auto 20px auto;
  padding: 0;
  width: 150px;
  height: 150px;
}

@media (min-width: 800px) {
  header figure {
    float: left;
    margin: 0 20px 0 0;
  }
}

@media print {
  header figure {
    display: none;
  }
}

header figure picture {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;
}

header figure picture > img {
  display: block;
  width: 100%;
  height: auto;
}

footer {
  margin: 0;
  padding: 15px 0;
  color: #505050;
  box-shadow: inset 0 1px 0 #D3D3D3;
  font-weight: 600;
}

@media print {
  footer {
    box-shadow: none;
    width: 100%;
    clear: both;
  }
}

footer span {
  display: block;
  width: auto;
  margin: 0 0 5px 0;
  padding: 0;
}

@media (min-width: 800px) {
  footer span {
    display: inline-block;
    padding-right: 10px;
    margin-right: 4px;
    box-shadow: inset -1px 0 0 0 #D3D3D3;
  }
  footer span:last-child {
    box-shadow: none;
    padding-right: 0;
    margin-right: 0;
  }
}

@media print {
  footer span {
    display: inline;
    margin-right: 6px;
  }
}

footer a {
  font-weight: 400;
}

@media (min-width: 800px) {
  footer {
    flex: 1 0 100%;
    font-size: 95%;
  }
}

nav {
  margin: 0 0 5px 0;
  padding: 5px 0 10px;
  box-shadow: inset 0 -1px 0 #D3D3D3;
}

@media (min-width: 800px) {
  nav {
    flex: 1 0 100%;
  }
}

@media print {
  nav {
    display: none;
  }
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

nav ul > li {
  margin: 0;
  padding: 0;
}

nav a {
  padding: 2.5px 5px;
  margin: 0;
}

main {
  margin: 0;
  padding: 10px 0;
}

@media (min-width: 800px) {
  main {
    flex: 0 1 65%;
    padding-right: 20px;
  }
}

@media print {
  main {
    width: 65%;
    display: inline-block;
    float: left;
    padding-right: 20px;
  }
}

aside {
  margin: 0;
  padding: 10px 0;
}

@media (min-width: 800px) {
  aside {
    flex: 0 1 35%;
    font-size: 95%;
    padding-left: 20px;
  }
}

@media print {
  aside {
    width: 35%;
    display: inline-block;
    float: left;
    padding-left: 20px;
  }
}

section {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: 600;
}

h1 {
  font-family: "Bree Serif", serif;
  margin-bottom: 20px;
}

h2 {
  font-family: "Bree Serif", serif;
  margin-bottom: 10px;
}

h3 {
  font-family: "Open Sans", sans-serif;
  color: #282828;
  margin-bottom: 10px;
}

h4 {
  font-family: "Open Sans", sans-serif;
  color: #282828;
  margin-bottom: 10px;
}

h5 {
  margin-bottom: 5px;
}

h6 {
  margin-bottom: 5px;
}

p {
  margin: 0 0 15px 0;
  padding: 0;
}

p.lead {
  font-weight: 600;
  font-size: 110%;
  color: #505050;
}

p.small {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 90%;
  color: #505050;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin: 2.5px 0;
  padding: 0;
}

ol {
  margin: 0;
  padding: 0;
}

ol li {
  margin: 2.5px 0;
  padding: 0;
}

dl dt {
  font-weight: 600;
  margin: 0;
}

dl dd {
  margin: 0 0 10px 0;
}

a {
  color: #814900;
  transition: all 0.25s;
}

a:hover, a:focus {
  color: #003881;
}

button {
  display: inline-block;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 1em;
  color: rgba(0, 0, 0, 0.8);
  border: none rgba(0, 0, 0, 0);
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px;
}

::-moz-selection {
  background-color: rgba(0, 56, 129, 0.75);
  color: #fff;
}

::selection {
  background-color: rgba(0, 56, 129, 0.75);
  color: #fff;
}
/*# sourceMappingURL=main.css.map */