::selection {
	background-color: rgba($m2, 0.75);
  color: $sf;
}

%headers {
  margin: 0;
  padding: 0;
  font-family: $font-sans;
}
h1 {
  @extend %headers;
  font-weight: 900;
}
h2 {
  @extend %headers;
  margin-block-end: 10px;
  font-weight: 700;
}
h3 {
  @extend %headers;
  font-weight: 400;
  color: $s1;

  @media (min-width: $bp-medium) {
    display: flex;
    justify-content: space-between;
    > span {
      flex: 1 1 auto;
      text-align: right;
    }
  }
}
h4 {
  @extend %headers;
  font-weight: 600;
  margin-block-end: 0.75rem;
}
h5 {
  @extend %headers;
}
h6 {
  @extend %headers;
}

p {
  margin: 0 0 $font-size 0;
  padding: 0;

  &:has(small) {
    margin-block-end: 5px;
  }

  small {
    color: $s1;
    font-size: medium;
    strong {
      font-weight: 600;
    }
    em {
      font-style: normal;
      font-weight: 300;
    }
  }
}

section {
  &.job-scope, 
  &.sample-work {
    > p {
      margin-block-end: 0.25rem;
    }
  }
}

strong, em {
  // color: $s2;
}

ul {
  margin: 0 0.5rem 1rem 1.75rem; 
  padding: 0;
  list-style: circle;
  li {
    margin: 0;
    padding: 0;
    &::marker {
      color: $m2;
    }

    strong {
      font-weight: 600;
    }
    em {
      font-style: normal;
      font-weight: 300;
    }
  }
}

ol {
  margin: 0; 
  padding: 0;
  li {
    margin: 2.5px 0;
    padding: 0;
  }
}

dl {
  dt {
    font-weight: 600;
    margin: 0;
  }
  dd {
    margin: 0 0 10px 0;
  }
}

a {
  color: $m1;
  transition: all 0.25s;
  &:hover,
  &:focus {
    color: $m2;
  }
  @media print {
    &.screen-only {
      display: none;
    }
  }
}

button, 
.button {
  display: inline-block;
  line-height: 1.2;
  text-align: center;
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  color: $sf;
  background-color: $m1;
  text-decoration: none;
  border-radius: $border-radius;
  transition: all $trans-time $trans-effect;
  &:hover, 
  &:focus {
    color: $sf;
    background-color: $m2;
    text-decoration: none;
  }
}



