%headers {
  margin: 0;
  padding: 0;
  font-weight: 600;
}
h1 {
  @extend %headers;
  font-family: $font-serif;
  margin-bottom: 20px;
}
h2 {
  @extend %headers;
  font-family: $font-serif;
  margin-bottom: 10px;
}
h3 {
  @extend %headers;
  font-family: $font-sans;
  margin-bottom: 10px;
}
h4 {
  @extend %headers;
  font-family: $font-sans;
  margin-bottom: 10px;
}
h5 {
  @extend %headers;
  margin-bottom: 5px;
}
h6 {
  @extend %headers;
  margin-bottom: 5px;
}

p {
  margin: 0 0 $font-size 0;
  padding: 0;
  &.lead {
  font-weight: 600;
    font-size: 110%;
    color: $s2;
  }
  small {
    margin-bottom: 5px;
    font-weight: 600;
    color: $s2;
  }
}

ul {
  list-style: none;
  margin: 0; 
  padding: 0;
  li {
    margin: 2.5px 0;
    padding: 0;
  }
}

ol {
  margin: 0; 
  padding: 0;
  li {
    margin: 2.5px 0;
    padding: 0;
  }
}

dl {
  dt {
    font-weight: 600;
    margin: 0;
  }
  dd {
    margin: 0 0 10px 0;
  }
}

// blockquote {
//   p {}
//   cite {}
// }

// table {
//   caption {}
//   thead {
//     tr {
//       th {}
//     }
//   }
//   tbody {
//     tr {
//       &:nth-child(odd) {}
//       &:nth-child(even) {}
//       td {}
//     }
//   }
// }

a {
  color: $m1;
  transition: all 0.25s;
  &:hover,
  &:focus {
    color: $m2;
  }
}

button {
  display: inline-block;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 1em;
  color: rgba(0, 0, 0, 0.80);
  border: none rgba(0, 0, 0, 0);
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px;
  // &:hover {}
  // &:active {}
  // &:focus {}
}


::selection {
	background-color: rgba($m2, 0.75);
  color: $sf;
}
