
// =======================
// 
// =======================
@view-transition {
  navigation: auto;
}

// =======================
// general styles
// =======================
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; // all webkit
  -moz-osx-font-smoothing: grayscale; // firefox
  font-feature-settings: 'liga'; // ie
}
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  background: $sf;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-width: 320px;
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
  padding: 10px 20px;
  font-family: $font-sans;
  font-size: $font-size;
  line-height: $line-height;
  color: $s1;
  @media (min-width: $bp-large) {
    display: flex;
    flex-flow: row wrap;
  }
  @media print {
    font-size: 70%;
  }
}

header {
  width: 100%;
  margin: 0 0 0.5rem 0;
  padding: 1rem 0;
  box-shadow: inset 0 -1px 0 $s3;
  @media (min-width: $bp-large) {
    flex: 1 0 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media print {
    box-shadow: none;
    width: 100%;
    clear: both;
  }

  figure {
    margin: 0 auto 20px auto; 
    padding: 0;
    width: 150px;
    height: 150px;
    @media (min-width: $bp-large) {
      float: left;
      margin: 0 20px 0 0;
    }
    @media print {
      display: none;
    }
    picture {
      display: block;
      width: 150px;
      height: 150px;
      border-radius: 100%;
      overflow: hidden;
      > img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
}

footer {
  margin: 0;
  padding: 15px 0;
  color: $s2;
  box-shadow: inset 0 1px 0 $s3;
  font-weight: 600;
  @media print {
    box-shadow: none;
    width: 100%;
    clear: both;
  }
  span {
    display: block;
    width: auto;
    margin: 0 0 5px 0;
    padding: 0;
    @media (min-width: $bp-large) {
      display: inline-block;
      padding-inline-end: 10px;
      margin-inline-end: 4px;
      box-shadow: inset -1px 0 0 0 $s3;
      &:last-child {
        box-shadow: none;
        padding-inline-end: 0;
        margin-inline-end: 0;
      }
    }
    @media print {
      display: inline;
      margin-inline-end: 6px;
    }
  }
  a {
    font-weight: 400;
  }
  @media (min-width: $bp-large) {
    flex: 1 0 100%;
    font-size: 95%;
  }
}

main {
  margin: 0;
  padding: 0;
  width: 100%; 
}

  section {
    margin: 0; 
    padding: 0;
  }

  .carousel {
    list-style: none;
    margin: 0;
    padding: 0;

    display: grid;
    gap: 0.5rem;
    grid-auto-flow: column;
    grid-auto-columns: 90%;

    overflow-x: auto;
    scroll-snap-type: x mandatory;

    @media (prefers-reduced-motion: no-preference) {
      scroll-behavior: smooth;
    }

    anchor-name: --carousel;

    scroll-marker-group: after;

    &::scroll-marker-group {
      margin: 0 0 2rem 0;
      padding: 0;
      display: flex;
      justify-content: center;
      gap: 0.5rem;
      padding: 1rem;
    }

    > li {
      scroll-snap-align: center;

      &::scroll-marker {
        content: "\25CE";
        color: $m1;
        width: 20px;
        height: 20px;
        aspect-ratio: 1 / 1;
        text-decoration: none;
        transition: all 0.25s;
        &:hover {
          color: $m2;
        }
        
      }

      &::scroll-marker:target-current {
        content: "\25C9";
        color: $m2;
      }
    }

    &::scroll-button(*) {
      position: fixed;
      position-anchor: --carousel;
      margin: 0.5rem;
      font: inherit;
      background: $m2;
      color: $sf;
      border: 0;
      border-radius: 0.25rem;
      cursor: pointer;
      transition: all 0.25s;
      &:hover {
        background: $m1;
      }
      &:disabled {
        opacity: 0;
        background: $m2;
        cursor: unset;
      }
    }

    &::scroll-button(right) {
      content: "\2192";
      position-area: center right;
    }

    &::scroll-button(left) {
      content: "\2190";
      position-area: center left;
    }
  }

  dialog {
    margin: 1rem auto;
    padding: 0.5rem;
    border: 2px solid $m2;
    border-radius: 0.25rem;
    button {
      all: unset;
      border-radius: 0.25rem;
      margin: 0.25rem 0;
    padding: 0.25rem 0.5rem;
      background: $m2;
      color: $sf;
      cursor: pointer;
      &:hover, 
      &:active, 
      &:focus {
        background: $m1;
      }
    }
    &::backdrop {
      background-color: $s0;
      opacity: 0.75;
    }
    figure {
      margin: 0; 
      padding: 0; 
      > img {
        width: auto;
        max-width: 100%;
      }
    }
  }

  article.showcase {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    h3 {
      flex: 1 0 100%;
    }
    figure {
      margin: 0; 
      padding: 0; 
      flex: 0 1 50%;
      text-align: center;
      button {
        all: unset;
        cursor: pointer;
        border-radius: 100%;
        &:hover, 
        &:active, 
        &:focus {
          img {
          border-color: $m1;

          }
        }
        img {
          margin: 0; 
          padding: 0;
          inline-size: 320px;
          aspect-ratio: 1;
          object-fit: cover;
          object-position: top center;
          border-radius: 100%;
          border: 2px solid $m2;
          transition: all 0.25s;
        }

      }
    }
  }
