nav {
  margin: 0 0 0.25rem 0;
  padding: 0.25em 0 0.5rem;
  &.main {
    box-shadow: inset 0 -1px 0 $s3;
  }
  @media (min-width: $bp-large) {
    flex: 1 0 100%;
  }
  @media print {
    display: none;
  }
  ul {
    margin: 0; 
    padding: 0; 
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5rem;
    @media (min-width: $bp-large) {
      gap: 1rem;
    }
    > li {
      margin: 0;
      padding: 0;
      &.current {
        font-weight: 600;
      }
    }
  }
  a {
    padding: 0.25rem 0.5rem;
    margin: 0;
    text-decoration: none;
    &:hover, 
    &:focus {
      text-decoration: underline;
    } 
  }
}