.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 10px;
  background: $m2;
  animation: grow-progress linear;
  animation-timeline: scroll();
}

@keyframes grow-progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}