// =======================
// variables
// =======================

// breakpoints
$bp-small: 400px;
$bp-medium: 600px;
$bp-large: 800px;
$bp-huge: 1000px;
$bp-colossal: 1200px;

// colors
$s0: #000; // black
$s1: #282828; // gray - dark
$s2: #505050; // gray - medium
$s3: #D3D3D3; // gray - light
$sf: #fff; // white

$m1: #814900; //orange 
$m2: #003881; //blue

// fonts
$font-serif: 'Bree Serif', serif;
$font-sans: 'Open Sans', sans-serif;
$font-size: 1rem;
$line-height: 1.5;
