// =======================
// variables
// =======================

// breakpoints
$bp-small: 400px;
$bp-medium: 600px;
$bp-large: 800px;
$bp-huge: 1000px;
$bp-colossal: 1200px;

// colors
$s0: #000; // black
$s1: #282828; // gray - dark
$s2: #505050; // gray - medium
$s3: #D3D3D3; // gray - light
$sf: #fff; // white

$m1: hsl(165, 100%, 7%); // evergreen - #00241B
$m2: hsl(185, 28%, 43%); //dark cyan - #4E878C

// fonts
$font-serif: 'Bree Serif', serif;
$font-sans: 'Source Sans 3', sans-serif;
$font-size: 1rem;
$line-height: 1.5;

// border
$border-radius: 0.5rem;

// transition 
$trans-time: 0.25s;
$trans-effect: ease;